/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

:root {
    --main-color: #FC6522;
    --secondary-color: #4F840B;
    --primary-font:'Source Sans Pro', sans-serif;
    --secondary-font:'Montserrat', sans-serif;

    --form-input-text-color:#555;
  }